altgraph==0.17
appdirs==1.4.3
arrow==0.15.5
astroid==2.4.1
asyncpg==0.20.1
attrs==19.3.0
autopep8==1.5
Click==7.0
cycler==0.10.0
databases==0.2.6
dateparser==0.7.4
distlib==0.3.0
dparse==0.5.1
fanstatic==1.1
fastapi==0.52.0
filelock==3.0.12
Flask==1.1.1
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.4.21
httptools==0.1.1
httpx==0.12.1
hyperframe==5.2.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
js==1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
macholib==1.14
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.2.1
mccabe==0.6.1
modulegraph==0.18
moment==0.8.2
more-itertools==8.2.0
nltk==3.5
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pathspec==0.8.0
pendulum==2.1.0
Pint==0.11
pipenv==2018.11.26
pluggy==0.13.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
py==1.8.1
py2app==0.21
pycodestyle==2.5.0
pydantic==1.4
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.5.2
pymongo==3.10.1
pyobjc==6.2
pytest==5.4.1
python-dateutil==2.7.5
python-dotenv==0.10.5
pyttsx3==2.87
pytube3==9.6.4
pytz==2019.3
pytzdata==2019.3
PyYAML==5.3.1

